.face-exp-det-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    gap: 1.4rem;
}


.vid-container {
    position: relative;
    width: 90vw;
    height: 60vw;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
}

.video-webcam {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.det-mood-btn {
    padding: 13px 20px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
}

.det-mood-btn:active {
    transform: scale(0.98);
}


@media (min-width:640px) {
    .face-exp-det-cont {
        flex-direction: row;
        gap:4rem;
    }

    .vid-container {
        width: 50vw;
        height: 40vw;
        border-radius: 20px;

    }

}

@media (min-width:1024px){
    .face-exp-det-cont{
        gap:6rem
    }
    .vid-container{
        width: 560px;
        height: 400px;
    }
   .det-mood-btn {
    padding: 18px 28px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid black;
    }
}


@media (min-width:1364px){
    .face-exp-det-cont{
        gap:8rem
    }
    .vid-container{
        width: 600px;
        height: 420px;
    }
  
}